.dropDown {
    /* width: 50%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto; */
    
}

.header{
    font-size:20px;
}

.hover{
    border: 2px solid transparent;
}
.hover:hover{
    border: 2px solid red;
}